# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work

# Other
logs
*.log
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.DS_Store
build/*
.env
